.checklist-template {
  background-color: #f0f4f5;
}

@media (min-width: 40.0625em) {
  td {
    font-size: inherit;
    line-height: normal;
  }
}

.nhsuk-table-responsive__checklist { /* stylelint-disable-line selector-class-pattern */
  padding-right: 16px;
  thead {
    white-space: inherit;
    th {
      border-top: 2px solid #d8dde0;
      button {
        background-color: transparent;
        border-width: 0;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        color: #005ea5;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 0 10px 0 0;
        position: relative;
        text-align: inherit;
        margin: 0;
        &:focus {
          background-color: #fd0;
          color: #0b0c0c;
          box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
          outline: none;
        }
        span {
          &::before {
            content: " \25bc";
            position: absolute;
            right: -1px;
            top: 9px;
            font-size: 0.5em;
          }
          &::after {
            content: " \25b2";
            font-size: 0.5em;
            position: absolute;
            right: -1px;
            top: 1px;
          }
        }
      }
      &:first-child {
        button {
          right: auto;
        }
      }
    }
  }

  [aria-sort="ascending"] button span::before,
  [aria-sort="descending"] button span::before {
    content: none;
  }

  [aria-sort="ascending"] button span::after {
    content: " \25b2";
    content: "▲";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }

  [aria-sort="descending"] button span::after {
    content: " \25bc";
    content: "▼";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
}

/* navigation */
.nav-checklist__item { /* stylelint-disable-line selector-class-pattern */
  display: inline-block;
  margin-right: 1em;
}

[aria-current="page"],
[aria-current="page"]:visited {
  color: #212b32;
  font-weight: bold;
  text-decoration: none;
}

/* phase banner */
.nhsuk-phase-banner {
  border-bottom: 2px solid #d8dde0;
}

.nhsuk-phase-banner p {
  font-size: 1rem;
  margin-bottom: 0;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.nhsuk-list--intablecell { /* stylelint-disable-line selector-class-pattern */
  font-size: 1rem;
}
