<tr>
  <td class="nhsuk-table__cell">
    {{ pages.data.successCriteria }}
  </td>
  <td class="nhsuk-table__cell">
    {{ pages.data.conformanceLevel }}
  </td>
  <td class="nhsuk-table__cell">
    {%- if (pages.url) and (pages.data.description) -%}
      <a href="{{ pages.url | url }}">{{ pages.data.description }}</a>
    {%- endif %}
  </td>
  <td class="nhsuk-table__cell">
    {%- if pages.data.interaction -%}
      {%- if pages.data.interaction.length > 1 -%}
        <ul class="nhsuk-list--intablecell">
        {% for action in pages.data.interaction %}
          <li class="margin-bottom-0">{{ action }}</li>
        {% endfor %}
        </ul>
      {%- else %}
        {{ pages.data.interaction }}
      {%- endif %}
    {%- endif %}
  </td>
  <td class="nhsuk-table__cell">
    {%- if pages.data.severity -%}
      {%- if pages.data.severity.length > 1 -%}
        <ul class="nhsuk-list--intablecell">
        {% for level in pages.data.severity %}
          <li class="margin-bottom-0">{{ level }}</li>
        {% endfor %}
        </ul>
      {%- else %}
        {{ pages.data.severity }}
      {%- endif %}
    {%- endif %}
  </td>
  <td class="nhsuk-table__cell">
    {%- if pages.data.responsibility -%}
      {%- if pages.data.responsibility.length > 1 -%}
        <ul class="nhsuk-list--intablecell">
        {% for who in pages.data.responsibility %}
          <li class="margin-bottom-0">{{ who }}</li>
        {% endfor %}
        </ul>
      {%- else %}
        {{ pages.data.responsibility }}
      {%- endif %}
    {%- endif %}
  </td>
  <td class="nhsuk-table__cell">
    {{ pages.data.knowledgeToTest }}
  </td>
  <td class="nhsuk-table__cell">
    {%- if pages.data.timeToTest -%}
      {%- if pages.data.timeToTest.length > 1 -%}
        <ul class="nhsuk-list--intablecell">
        {% for time in pages.data.timeToTest %}
          <li class="margin-bottom-0">{{ time }}</li>
        {% endfor %}
        </ul>
      {%- else %}
        {{ pages.data.timeToTest }}
      {%- endif %}
    {%- endif %}
  </td>
  <td class="nhsuk-table__cell">
    {%- if pages.data.testProcedure -%}
      {%- if pages.data.testProcedure.length > 1 -%}
        <ul class="nhsuk-list--intablecell">
        {% for test in pages.data.testProcedure %}
          <li class="margin-bottom-0">{{ test }}</li>
        {% endfor %}
        </ul>
      {%- else %}
        {{ pages.data.testProcedure }}
      {%- endif %}
    {%- endif %}
  </td>
</tr>