.checklist-template {
  background-color: #f0f4f5;
}

@media (min-width: 40.0625em) {
  td {
    font-size: inherit;
    line-height: normal;
  }
}

.nhsuk-table__checklist { /* stylelint-disable-line selector-class-pattern */
  padding-right: 16px;
}

.nhsuk-table__checklist thead { /* stylelint-disable-line selector-class-pattern */
  white-space: inherit;
}

.nhsuk-table__checklist thead th { /* stylelint-disable-line selector-class-pattern */
  border-top: 2px solid #d8dde0;
}

.nhsuk-table__checklist thead th button { /* stylelint-disable-line selector-class-pattern */
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  margin: 0;
}

.nhsuk-table__checklist thead th:first-child button { /* stylelint-disable-line selector-class-pattern */
  right: auto;
}

.nhsuk-table__checklist thead th button:focus { /* stylelint-disable-line selector-class-pattern */
  background-color: #fd0;
  color: #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  outline: none;
}

.nhsuk-table__checklist thead th button span::before { /* stylelint-disable-line selector-class-pattern */
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

.nhsuk-table__checklist thead th button span::after { /* stylelint-disable-line selector-class-pattern */
  content: " \25b2";
  font-size: 0.5em;
  position: absolute;
  right: -1px;
  top: 1px;
}

/* stylelint-disable selector-class-pattern */
.nhsuk-table__checklist thead th[aria-sort="ascending"] button span::before,
.nhsuk-table__checklist thead th[aria-sort="descending"] button span::before {
  content: none;
}
/* stylelint-enable selector-class-pattern */

.nhsuk-table__checklist thead th[aria-sort="ascending"] button span::after { /* stylelint-disable-line selector-class-pattern, max-line-length */
  content: " \25b2";
  content: "▲";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

.nhsuk-table__checklist thead th[aria-sort="descending"] button span::after { /* stylelint-disable-line selector-class-pattern, max-line-length */
  content: " \25bc";
  content: "▼";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

/* navigation */
.nav-checklist__item { /* stylelint-disable-line selector-class-pattern */
  display: inline-block;
  margin-right: 1em;
}

[aria-current="page"],
[aria-current="page"]:visited {
  color: #212b32;
  font-weight: bold;
  text-decoration: none;
}

/* phase banner */
.nhsuk-phase-banner {
  border-bottom: 2px solid #d8dde0;
}

.nhsuk-phase-banner p {
  font-size: 1rem;
  margin-bottom: 0;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.nhsuk-list--intablecell { /* stylelint-disable-line selector-class-pattern */
  font-size: 1rem;
}
