---
layout: layout.njk
title: Accessibility checklist and guidance
header: Accessibility checklist and guidance
fullwidth: true
---

<h1>{{ header }}</h1>

<p>This checklist contains information and guidance on the Web Content Accessibility Guidelines (WCAG) success criteria. It can be used to help carry out an initial evaluation of your service.</p>

{% include "checklist-list.njk" %}
{% include "table.njk" %}